$RECYCLE.BIN
*.bak
*.cab
*.class
*.ear
*.eml
*.iml
*.ipr
*.iws
*.jar
*.launch
*.log
*.msi
*.msm
*.msp
*.pid
*.pydevproject
*.seed
*.swp
*.tmp
*.war
*~
*~.nib
.buildpath
.classpath
.cproject
.directory
.externalToolBuilders
.gradle
.grunt
.idea
.idea_modules
.loadpath
.lock-wscript
.metadata
.mtj.tmp
.project
.settings
.target
.texlipse
Desktop.ini
Thumbs.db
atlassian-ide-plugin.xml
bin/
com_crashlytics_export_strings.xml
components/
coverage/
deploy/
ehthumbs.db
hs_err_pid*
lib-cov/
local.properties
logs/
node_modules/
out/
pids
pom.xml.next
pom.xml.releaseBackup
pom.xml.tag
pom.xml.versionsBackup
public/
release.properties
srcjslib/
target/
tmp/
bower_components/
